src/*.exe
src/KoshuCoin
src/KoshuCoind
src/test_KoshuCoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.KoshuCoin

# Compilation and Qt preprocessor part
*.qm
Makefile
KoshuCoin-qt
KoshuCoin-Qt.app

# Unit-tests
Makefile.test
KoshuCoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
